@charset "UTF-8";

body{
}

.mb-3{
    border: 2px solid #212529;
}

.card-title{
    color: #212529;
}

.card-text{
    color: black;
}
.divisore{
    background-color: #212529;
    color: white;
}
#cerca{
    border: none;
}

.link{
    margin-top: 50px;
}
