@charset "UTF-8";

body{
    background-color: #212529;
}



.mb-3{
    border: 2px solid #FFC107;
    background-color: #212529;
}

.card-title{
    color: #FFC107;
}

.card-text{
    color: white;
}
.divisore{
    background-color: #FFC107;
    color: #212529;
}
#cerca{
    border: none;
}