@charset "UTF-8";

body{
    background-color: #212529;
}

.card-body{
    border: 2px solid #FFC107;
    background-color: #212529;
    border-radius: 4px;
}

button.categorie{
    color: #FFC107;
    font-size:15px;
    width: 100%;
    height: 100%;

}

.bordo{
    background-color: #212529;
    border-radius: 4px;
}

button.categorie:hover{
    color: #d29a11;
}

button.categorie:focus, button.categorie:active, button.categorie:active:focus{
   box-shadow: none;

}
.card{
    background-color: inherit;
    border: none;
}

tr{
    border-bottom: 1px solid #FFC107;
}

.nav-link {
	color:#FFC107;
}

.nav-link-white {
	color:#F5F5F5;
}

.nav-link:hover, .nav-link:focus {
	color: #d29a11;
}

