@charset "UTF-8";

body{
    background-color: #ede7b1;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: #be78f5;
}

.searchBar{
    background-color: #b5e8e8;
}



.searchBar:focus{
    background-color: #b5e8e8;
    box-shadow: none;
}

.searchBar::placeholder{
    color: #a75be7;
}

.searchBar input[type=search] {
    color: #a75be7;
}

.mb-3{
    border: 2px solid #f694c1;
    background-color: #ede7b1;
}

.card-title{
    color: #cd96fc;
}

.card-text{
    color: #f694c1;
}
.divisore{
    background-color: #d3f8e2;
    color: #f694c1;
    border: 1px solid #98cde8;
}
#cerca{
    border: none;
}

/*Categoria*/

.card-body{
    border: 2px solid #f694c1;
    background-color: #d3f8e2;
    border-radius: 4px;
}


button.formatButtonCategory ,button.formatButtonCategory:focus, button.formatButtonCategory:active, button.formatButtonCategory:active:focus{
    color: #98cde8;
    font-size:15px;
    width: 100%;
    height: 100%;
    box-shadow: none;

}

button.formatButtonCategory:hover{
    color: #e4c1f9;
}

.card{
    background-color: inherit;
    border: none;
}

tr{
    border-bottom: 1px solid #e4c1f9;
}
.nav-link {
    color: #98cde8;
}

.nav-link-white {
    color:#98cde8;
}

.nav-link:hover, .nav-link:focus {
    color: #e4c1f9;
}


/*Registrazione-Login*/

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #98cde8;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #4bb0ef;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #7ecbee;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #98cde8;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #d3f8e2;
    font-size: 15px;
    font-weight: 300;
    color: #dc9cff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 8px;
}



.btn-primary{
    margin: 0 auto;
    background-color: #d3f8e2;
    color: #dc9cff;
    outline: none;
    border: 0px;
    box-shadow: none;
}

btn-primary:hover{
    background-color: #d3f8e2;
}

.btn-white{
    margin: 0 auto;
    background-color: #d3f8e2;
    color: #dc9cff;
    outline: none;
    border: 0px;
    box-shadow: none;
}

btn-white:hover{
    background-color: #d3f8e2;
}

.btn-danger{
    margin: 0 auto;
    background-color: palevioletred;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-light{
    margin: 0 auto;
    background-color: #b5e8e8;
    color: #a75be7;
    outline: none;
    border: 0px;
    box-shadow: none;
}
.btn-warning:hover{
    background-color: lightskyblue;
    color: yellow;
}

.btn-warning{
    margin: 0 auto;
    background-color: #d3f8e2;
    color: #f694c1;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.form-content textarea {
    position: static;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #d3f8e2;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color:  #f694c1;
    outline: none;
    resize: none;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
    margin-top: 8px;
}
.form-content textarea:focus {
    background-color:  #d3f8e2;
    color:  #f694c1;
}


.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
    color: #2acc80;
}
::placeholder{
    color: #f694c1;
}
input[type=file]::file-selector-button {
    background-color: #d3f8e2;
    color: #f694c1;
}
.backgroundArticle{
    background-color: #d3f8e2;;
    border: 1px solid #f694c1;
    border-radius: 4px;
}


/*user*/

body.user{
    background-color: #32363a;
}

.myProfile{
    background-color: #d3f8e2;
    text-align: center;
    color: #f694c1;
}

.profileImage{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #98cde8;
}

.containerProfileImage{
    display: flex;
    float: left;

}

.tableFavorite{

    margin-top: 10px;
    border-radius: 4px;
    background-color: #d3f8e2;
    padding: 10px;
    border-collapse: separate;
    border: 1px solid #f694c1;

}

.setBackGroundFavoritesDiv{
    background-color: #d3f8e2;
    border: none;
}

.setPositionFavoritesDiv{

    text-align: center;
    background-color: #d3f8e2;
    color: #f694c1;
    border: 2px solid;
    margin-top: 15px;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: #f694c1;
}

a:hover{
    color: #ff63a2;
}

.submitButton{
    background-color: #d3f8e2;
    border: 1px solid #f694c1;
    color: #f694c1 ;
}
.alignmentFavorite{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.setBorderArticleHome {
    border: 1px solid #f694c1;
}
.login{
    background-color: #ffcae1;
    color: #5e8dee;
}
.login:hover{
    background-color: #dc9cff;
    color: yellow;
}
.btn-light:hover{
    background-color: #dc9cff;
    color: yellow;

}

.textBarnav{
    color: #5e8dee;
}

.textBarnav:hover{
    color: #dc9cff;
}