@charset "ISO-8859-1";

body{
    background-color: hotpink;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}


.mb-3{
    border: 2px solid black;
    background-color: lightblue;
}

.card-title{
    color: black;
}

.card-text{
    color: beige;
}
.divisore{
    background-color: black;
    color: lightblue;
}
#cerca{
    border: none;
}

/*Categoria*/

.card-body{
    border: 2px solid black;
    background-color: lightblue;
    border-radius: 4px;
}

.cardfooter {
	background-color: lightblue;
}

button.formatButtonCategory ,button.formatButtonCategory:focus, button.formatButtonCategory:active, button.formatButtonCategory:active:focus{
    color: black;
    font-size:15px;
    width: 100%;
    height: 100%;
    box-shadow: none;

}

button.formatButtonCategory:hover{
    color: grey;
}

.card{
    background-color: inherit;
    border: none;
}

.nav-link {
    color:black;
}

.nav-link-beige {
    color:#F5F5F5;
}

.nav-link:hover, .nav-link:focus {
    color: grey;
}


/*Registrazione-User*/

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid black;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: black;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: black;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=file], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: lightblue;
    font-size: 15px;
    font-weight: 300;
    color: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 8px;
}


.btn-primary{
    margin: 0 auto;
    background-color: lightblue;
    color: black;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover{
	background-color: #111518
}

.btn-beige{
    margin: 0 auto;
    background-color: hotpink;
    color: black;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-beige:hover{
	background-color: #43472b
}

.btn-danger{
    margin: 0 auto;
    background-color: red;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-warning{
    margin: 0 auto;
    background-color: black;
    color: lightblue;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-dropdown{
    margin: 0 auto;
    background-color: black;
    color: lightblue;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-dropdown:hover {
	background-color: grey;
	color: 32363a;
}

.form-content textarea {
    position: static;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: lightblue;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color:  black;
    outline: none;
    resize: none;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
    margin-top: 8px;
}
.form-content textarea:focus {
    background-color:  lightblue;
    color:  black;
}


.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
    color: #2acc80;
}
::placeholder{
    color: black;
}
input[type=file]::file-selector-button {
    background-color: black;
    color: lightblue;
}
.backgroundArticle{
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;
}

/*user*/

.myProfile{
    background-color: black;
    text-align: center;
    color: black;
}

.profileImage{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.containerProfileImage{
    display: flex;
    float: left;

}

.tableFavorite{

    margin-top: 10px;
    border-radius: 4px;
    background-color: hotpink;
    padding: 10px;
    border: 1px solid black;
    width:100%;
}

.setBackGroundFavoritesDiv{
    background-color: hotpink;
    border: none;
}

.setPositionFavoritesDiv{

    text-align: center;
    background-color: hotpink;
    color: black;
    border: 2px solid;
    margin-top: 15px;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: beige;
}

a:hover{
    color:black ;
}

.submitButton{
    background-color: hotpink;
    border: 1px solid black;
    color:black ;
}

.alignmentFavorite{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setBorderArticleHome{
    border: 1px solid black;
}

tr{
    border-bottom: 1px solid black;
}

.text-nav{
    color: black;
}

.text-nav:hover{
    color: grey;
}

.searchBar{
    background-color: lightblue;
    color: beigesmoke;
}

.searchBar:focus{
    background-color: lightblue;
    box-shadow: none;
    color: beigesmoke;
}

.searchBar::placeholder{
    color: black;
}

.searchBar::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.bg-nav {
	background-color: lightblue;
}

.btn:focus {
	outline:none;
	box-shadow: none;
}


