@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #FFC107;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #FFC107;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #FFC107;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #FFC107;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content input[type=file], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #212529;
    font-size: 15px;
    font-weight: 300;
    color: #FFC107;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 8px;
}


.btn-primary{
    margin: 0 auto;
    background-color: #212529;
    color: #FFC107;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-danger{
    margin: 0 auto;
    background-color: #630606;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-warning{
    margin: 0 auto;
    background-color: #FFC107;
    color: #212529;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #212529;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #FFC107;
    outline: none;
    resize: none;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
    margin-top: 8px;
}

.form-content textarea:focus {
	background-color:  #212529;
	color:  #FFC107;
}


.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}

::placeholder {
    color: #FFC107;
}

input[type=file]::file-selector-button {
	background-color: #FFC107;
	color: #212529; 
}